@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body[data-theme="light"] {
  --color-black: #141414;
  --color-white: #f9f7f2;
  --color-light-grey: #f3f4f6;
  --color-grey: #dee2e6;
  --color-dark-grey: #616161;
}

body[data-theme="dark"] {
  --color-black: #f9f7f2;
  --color-white: #141414;
  --color-light-grey: #111;
  --color-grey: #dee2e6;
  --color-dark-grey: #616161;
}

:is(h1, h2, h3, h4) {
  font-weight: 700;
}
